@import "../../../variables.scss";

div.video-capture-container {
    display: flex;
    justify-content: center;
    button {
        width: $sheet-width;
        max-width: $max-sheet-width;
        height: 64px;
        background-color: #71D2F1;
        border: none;
        font-weight: bold;
    }
}