@import "../../variables.scss";

div.sheet-container {
    width: 100vw;
    height: 100vw;
    max-width: 400px;
    max-height: 400px;
    margin: 32px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.sheet-wrapper {
    margin: $spacing;
    width: $sheet-width;
    height: $sheet-width;
    max-width: $max-sheet-width;
    max-height: $max-sheet-width;
    display: flex;
    flex-direction: column;

    div.sheet-row {
        display: flex;
        flex: 1;

        div.sheet-cell {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // background-color: white;
            color: darkblue;

            .hole {
                background-color: rgba(232, 232, 232, 1);
                height: 80%;
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: small;
                border-radius: 2px;
            }

            &.sheet-cell.punched:not(.bingo)>.hole {
                color: white;
                background-color: blue;
                font-weight: bold;
                box-shadow: 0 0 24px darkblue inset;
            }
        }
    }

    &.bingo>div.sheet-row {
        >div.sheet-cell {
            color: white;
            background-color: deepskyblue;
            &.bingo {
                background-color: orange;
            }
        }
    }

}
