@import "../../styles/sizing.scss";
@import "../../styles/colors.scss";
@import "../../styles/overlay.scss";

div.sheet-container {
    @extend .sheet-square;
    margin: 32px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $white-color;
}

div.Bingo_Line_Drawer_Container {
    position: absolute;
    padding: 6%;
    box-sizing: border-box;
    @extend .sheet-square;
    display: flex;
    canvas {
        flex: 1;
        width: 100%;
        z-index: $z-index-bingo-sheet + 1;
    }
}

div.sheet-wrapper {
    padding: 6%;
    box-sizing: border-box;
    @extend .sheet-square;
    display: flex;
    flex-direction: column;
    div.sheet-row {
        z-index: $z-index-bingo-sheet + 2;
        display: flex;
        flex: 1;

        div.sheet-cell {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .hole {
                background-color: $secondary-color;
                height: 80%;
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: x-small;
                border-radius: 2px;
            }

            &.sheet-cell.punched {
                font-weight: bold;
                >.hole {
                    color: $white-color;
                    background-color: $emphasize-color;
                }
                &.bingo>.hole {
                    color: $highlight-color;
                }
            }
        }
    }
}
