@import "../../variables.scss";

div.sheet-wrapper {
    margin: $spacing;
    width:  $bingo-sheet-size;
    height: $bingo-sheet-size;

    display: flex;
    flex-direction: column;

    div.sheet-row {
        display: flex;
        flex: 1;

        div.sheet-cell {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            color: darkblue;
            border: dotted gray thin;
            font-size: xx-large;
            font-weight: bold;

            &.sheet-cell.punched:not(.bingo) {
                color: white;
                background-color: blue;
                font-weight: bold;
                box-shadow: 0 0 24px darkblue inset;
            }
        }
    }

    &.bingo>div.sheet-row {
        >div.sheet-cell {
            color: white;
            background-color: deepskyblue;
            &.bingo {
                background-color: orange;
            }
        }
    }

}
