@import "../../variables.scss";

.App {
    width: 100vw;
    height: 100vh;
    background-image: url('../../background.png');
    background-size: contain;
    background-repeat: repeat-x;
}
.Game {
    position: relative;

    height: 100vh;
    max-width: 480px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    .Game_Title {
        flex: 1;
        min-height: 100px;
        max-height: 160px;
        text-align: center;
        color: white;
        font-size: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Game_Contents {
        flex: 1;
        padding: 24px 0;
        background-color: $game-background-color;
        border-radius: 32px 32px 0 0;
        display: flex;
        flex-direction: column;
        .Bingo_Sheet_Label {
            height: 80px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            color: white;
        }
    }
}