
.Game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(23, 0, 252, 1);
    .Game_Title {
        flex: 1;
        text-align: center;
        color: white;
        font-size: 2vh;
        min-height: 60px;
    }
    .Game_Contents {
        min-height: 660px;
        background-color: rgba(252, 252, 252, 1);
        border-radius: 32px 32px 0 0;
        display: flex;
        flex-direction: column;
        .Bingo_Sheet_Label {
            height: 80px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
    }
}