@import "../../styles/colors.scss";

.Game {
    position: relative;

    // height: 100vh;
    max-width: 480px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    .Game_Title {
        flex: 1;
        min-height: 100px;
        max-height: 160px;
        text-align: center;
        color: $white-color;
        font-size: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Game_Contents {
        flex: 1;
        padding: 24px 0;
        background-color: $bg-color;
        border-radius: 32px;
        padding-bottom: 20vh;
        display: flex;
        flex-direction: column;
        .Bingo_Sheet_Label {
            height: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            color: $white-color;
            h2 {
                font-size: 1.2em;
                margin: 0;
            }
        }
    }
}