
div.launching-page {
    position: relative;

    height: 100vh;
    max-width: 480px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .legend {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-bottom: 120px;
        .title {
            color: white;
            text-align: center;
            h1 {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    margin-right: 16px;
                }
            }
        }
        .lang-list {
            display: flex;
            a {
                flex: 1;
                text-align: center;
                color: white;
            }
        }
        .introduction {
            color: white;
            >ol {
                padding: 0;
                >li {
                    position: relative;
                    margin-top: 16px;
                    margin-bottom: 16px;
                    list-style-position: inside;
                    text-align: center;
                    div {
                        font-weight: bold;
                    }
                    // &:before {
                    //     width: 20px;
                    //     height: 20px;
                    //     position: absolute;
                    //     content: '';
                    //     background-color: red;
                    //     top: 0;
                    //     z-index: 0;
                    //     /* right: 0; */
                    //     left: calc(50% - 10px);
                    // }
                }
            }
            margin-bottom: 48px;
        }
        .start-button-wrapper {
            >button {
                background-color: rgba(97, 200, 238, 1);
                width: 100%;
                border: none;
                padding: 24px;
                border-radius: 8px;
            }
        }
    }
}