@import "../../styles/sizing.scss";
@import "../../styles/colors.scss";

div.video-capture-container {
    display: flex;
    justify-content: center;
    button {
        @extend .sheet-width;
        height: 64px;
        background-color: $primary-color;
        border: none;
        font-weight: bold;
    }
}

div.Video_Stream_Container {
    position: absolute;
    top: 0;  bottom: 0;
    left: 0; right: 0;
    @extend .game-width;
    height: 100vh;
    background-color: $black-color;
    display: flex;
    flex-direction: column;

    .Video_Stream_Movie {
        @extend .game-square;
        position: relative;
        .Video_Stream_Detect_Area {
            position: absolute;
            z-index: 201;
            @extend .game-square;
            display: flex;
            align-items: center;
            justify-content: center;
            .Video_Stream_Detect_Area_Line {
                @extend .sheet-square;
                box-sizing: border-box;
                border: dashed 40px rgba(255, 255, 255, 0.4);
            }
        }
        video {
            position: absolute;
        }
    }

    .Video_Stream_Navigation {
        min-height: 120px;
        display: flex;
        flex-direction: row;
        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white-color;
        }
        .nav-left {
            flex: 1;
            min-width: 40px;
            >.nav-item-img {
                margin-right: 8px;
            }
        }
        .nav-title {
            flex-grow: 1;
        }
        .nav-right {
            flex: 1;
            min-width: 40px;
        }
    }
}
